﻿@page "/allRecords"
@using HeroesOfTheStorm.RecordTracker.Shared
@using HeroesOfTheStorm.RecordTracker.Shared.Interfaces
@using HeroesOfTheStorm.RecordTracker.Shared.Models

@inject ISnackbar Snackbar
@inject IRecordTrackerApi recordTrackerApi
@inject ILogger<CreateRecord> logger
@inject NavigationManager NavigationManager


<PageTitle >All Records</PageTitle>
<MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="CreateNewRecord">New Record</MudButton>
<MudTable ServerData="@(new Func<TableState, Task<TableData<Record>>>(ServerReload))" Dense=true Hover=true @ref="table">
    <HeaderContent>
        <MudTh><MudTableSortLabel SortLabel="time_field" T="Record">Time</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortLabel="note_field" T="Record">Notes</MudTableSortLabel></MudTh>

    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Data">@context.Time</MudTd>
        <MudTd DataLabel="Data">@context.Notes</MudTd>

    </RowTemplate>
    <NoRecordsContent>
        <MudText>No matching records found</MudText>
    </NoRecordsContent>
    <LoadingContent>
        <MudText>Loading...</MudText>
    </LoadingContent>
    <PagerContent>
        <MudTablePager />
    </PagerContent>

</MudTable>


@code {
    private MudTable<Record>? table;

    private void CreateNewRecord(){
        logger.LogInformation("Editing check list {Id}");

        NavigationManager.NavigateTo("/createRecord", false);
    }

    private async Task<TableData<Record>> ServerReload(TableState state)
    {
        var response = await recordTrackerApi.GetRecords(new GetPageOptions{PageNumber = 1, Limit = 100});
        if(!response.IsSuccessStatusCode)
        {
            Snackbar.Add($"Failed to update table. Error: {response.StatusCode}", Severity.Error);

            return new TableData<Record>();
        }

        var data = response.Content ?? new Record[0];
        await Task.Delay(300);
        //data = data.Where(element =>
        //{
        //    if (string.IsNullOrWhiteSpace(searchString))
        //        return true;
        //    if (element.Sign.Contains(searchString, StringComparison.OrdinalIgnoreCase))
        //        return true;
        //    if (element.Name.Contains(searchString, StringComparison.OrdinalIgnoreCase))
        //        return true;
        //    if ($"{element.Number} {element.Position} {element.Molar}".Contains(searchString))
        //        return true;
        //    return false;
        //}).ToArray();
        //totalItems = data.Count();
        //switch (state.SortLabel)
        //{
        //    case "nr_field":
        //        data = data.OrderByDirection(state.SortDirection, o => o.Number);
        //        break;
        //    case "sign_field":
        //        data = data.OrderByDirection(state.SortDirection, o => o.Sign);
        //        break;
        //    case "name_field":
        //        data = data.OrderByDirection(state.SortDirection, o => o.Name);
        //        break;
        //    case "position_field":
        //        data = data.OrderByDirection(state.SortDirection, o => o.Position);
        //        break;
        //    case "mass_field":
        //        data = data.OrderByDirection(state.SortDirection, o => o.Molar);
        //        break;
        //}
        Snackbar.Add($"Updated Table", Severity.Info);


        return new TableData<Record>() { TotalItems = data.Count(), Items = data };
    }
}
