﻿@page "/createRecord/{id:guid?}"
@using HeroesOfTheStorm.RecordTracker.Shared
@using HeroesOfTheStorm.RecordTracker.Shared.Interfaces
@using HeroesOfTheStorm.RecordTracker.Shared.Models

@inject ISnackbar Snackbar
@inject IRecordTrackerApi RecordTrackerApi

<PageTitle>Create Record</PageTitle>

<MudText Class="mb-4">Time: @record.Time.ToString("dd/MM/yyyy HH:mm:ss") </MudText>

<MudTextField @bind-Value="record.Notes" Label="Notes" Variant="Variant.Outlined"></MudTextField>


@code {
    [Parameter]
    public Guid? id { get; set; }

    private Record record = new CountRecord(DateTime.UtcNow, 1);




}
