﻿<MudNavMenu>
    <MudNavLink Href="" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Home">Home</MudNavLink>
    <MudNavLink Href="allRecords" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.List">All Records</MudNavLink>
</MudNavMenu>
